#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rows, #columns {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

#rows-number, #columns-number {
    margin: 0 10px;
}

#refresh, #reveal {
    width: 100px;
    margin: 5px 0;
}

#root {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    display: flex;
}

.block {
    height: 50px;
    width: 50px;
    background-color: bisque;
    border: 1px solid grey;

    display: flex;
    align-items: center;
    justify-content: center;
}

.block-flipped {
    background-color: aqua;
}

.solution-circle {
    border: 1px solid grey;
    background-color: aqua;
    width: 60%;
    height: 60%;
    border-radius: 100px;
    pointer-events: none;
}

#footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#success {
    min-height: 24px;
    margin: 5px 0;
    color: red;
}

#solutions-result {
    min-height: 24px;
    margin: 5px 0; 
}

#solutions-number {
    margin: 0 5px;
}